// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.active-like{
    text-decoration: underline;
    color:#222;
}
.panel{
    word-break: break-all;
}